
.card_inner {
  display: flex;
  flex-direction: column;
  height: inherit;
  flex: 1;
}

.card_inner .image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card_inner .image {
  margin: 3px;
  aspect-ratio: 1 / 1;
}

.card_inner .header {
  display: flex;
  flex-direction: row;
}

.card_inner .invert.header img {
  filter: invert(1);
}

.card_inner .invert.header .name {
  color: rgb(255, 255, 255);
}

.card_inner .symbol {
  height: 32px;
  margin: 2px;
}

.card_inner .name {
  flex: 1;
  text-align: left;
  overflow: hidden;
  line-height: 36px;
}
