html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: rgb(127, 127, 127);
  height: 100vh;
  overflow: hidden;
}

.join_game_view {
  display: block;
  padding-top: 8px;
  text-align: left;
  padding-left: 16px;
  height: 70px;
}

.join_game_btn {
  position: relative;
  top: 3px;
}

button.delete_game {
  display: none;
}

.feed_game_owner .delete_game {
  display: inline-block;
}

button.logout_game {
  display: inline-block;
}

.feed_game_owner button.logout_game {
  display: none;
}

.gamelist_item {
  text-align: left;
  text-decoration: none;
  border-radius: 3px;
  border: ridge 4px transparent;
  overflow: hidden;
  clear: both;
  position: relative;
}

.gamelist_item .header {
  line-height: 34px;
}

.gamelist_item .header .name {
  font-weight: bold;
  position: relative;
  top: -4px;
  left: 6px;
}

.gamelist_item .id {
  float: left;
  padding-top: 16px;
}

.gamelist_item .timesince {
  position: absolute;
  right: 10px;
  top: -2px;
}

.gamelist_item, .gametype_guess {
  background: rgba(255, 255, 0, .2);
}

.gametype_match {
  background: rgba(0, 255, 255, .2);
}

.gametype_story {
  background: rgba(255, 0, 255, .2);
}

.feed_game_owner.gamelist_item {}

.gamelist_item .game_date {}

.gamelist_item .game_status {
  clear: both;
}

button.create_new_game_btn {
  font-size: 32px;
}

.gamefeed_item_header {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
  padding-top: 4px;
}

.visibility_select {
  display: inline-block;
}

.message_level_select, .seats_per_user_select {
  display: inline-block;
}

.seat_count_select {
  display: inline-block;
}

.game_list_user {}

.match_additional_options {
  display: none;
}

.newgametype_match .match_additional_options {
  display: block;
}


.story_additional_options {
  display: none;
}

.newgametype_story .story_additional_options {
  display: block;
}

.game_type_image {
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: contain;
  width: 32px;
  margin-left: 6px;
  display: inline-block;
  height: 32px;
  margin-top: 12px;
}

.game_name {
  flex: 1;
  padding-left: 10px;
  padding-top: 7px;
}

.game_name .title {
  font-size: 28px;
}

a.game_number_open {
  text-decoration: none;
}

.gamelist_item button.game {
  color: inherit;
  background: transparent;
}

.gamefeed_owners_panel {
  text-align: center;
}

.gamefeed_members_list, .gamefeed_owners_panel {

}

.gamefeed_owners_panel {
  line-height: 90px;
  white-space: nowrap;
}

.gamefeed_members_list {
  margin: 0 10px;
  border-radius: 6px;
}

.gameitem_running.gamelist_item.gameplayer_turn_next {
  border-color: rgba(255, 50, 50, .75);
}

.gameitem_running.gamelist_item.gameplayer_turn_next {
  border-color: rgba(50, 100, 200, .75);
}

.night_mode .gameitem_running.gamelist_item.gameplayer_turn_next {
  border-color: rgba(40, 240, 240, .75);
}

.member_feed_wrapper {
  display: flex;
  flex-direction: row;
}

.member_feed_wrapper>div {
  flex: 1;
  line-height: 55px;
  text-align: center;
  border: ridge 4px rgba(255, 255, 255, 1);
  overflow: hidden;
  padding-bottom: 4px;
}

.night_mode .member_feed_wrapper>div {
  border-color: rgba(255, 255, 255, .6);
}

.member_feed_wrapper>div:nth-child(2) {
  border-left: none;
}

.gamefeed_members_list div.member_feed_wrapper:nth-child(2)>div {
  border-top: none;
}

.member_feed_wrapper div:nth-child(4) {
  border-top: none;
}

.feed_filter_header {
  text-align: center;
}

.member_feed_wrapper button.open_sit {
  background: none;
  cursor: default;
  border-color: transparent;
}

button.game.sit_button {
  background: none;
}

.public_game_view button.logout_game, .public_game_view button.delete_game {
  display: none;
}

.public_game_view button.game.sit_button {}

a.game_number_open {}

.public_game_view .gamelist_item.feed_game_owner {
  border-color: rgba(0, 255, 0, .5);
}

.game_history_view, .public_game_view, .new_game_view {
  margin: 0;
  flex: 1;
  align-content: flex-start;
}

.game_history_view .owner_wrapper {
  display: none;
}

button.game_feed_toggle_button {
  float: left;
  width: 4em;
}

button.round_wrapper {
  background-color: transparent;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  border: transparent;
}

.round_wrapper span.label {
  float: left;
  position: relative;
  top: 15px;
}

.round_wrapper span.round {
  font-size: 38px;
}

.show_seats .round_wrapper span.icon {
  transform: rotate(0deg);
}

.game_owner_label {
  opacity: .75;
  display: inline-block;
  line-height: 20px;
  position: relative;
  top: 6px;
}

.table_seat_fill {
  background: rgba(127, 127, 127, .5);
}

button.new_game_type_wrapper {
  margin: 4px;
  background: none;
  color: inherit;
}

.new_game_type_image {
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
}

.new_game_type_name {
  width: 100%;
  text-align: center;
}

button.new_game_type_wrapper.selected {
  border-color: rgb(0, 255, 0);
  background: rgba(0, 255, 0, .5);
}

button.code_link {
  border-color: transparent;
}

.tab-pane {
  flex: 1;
}

.body_wrapper {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}

.item_card_shadow {
  border-radius: 7px;
  padding: 2px;
  position: relative;
  display: inline-block;
}

.item_card_shadow>div {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 2%;
  border-radius: 5px;
}

.tab-content>.active {
  display: flex;
  overflow: auto;
}

.game_number_open {
  font-size: 26px;
}

.member_feed_wrapper .game_user_wrapper {
  display: flex;
  flex-direction: row;
}

.member_feed_wrapper .game_user_wrapper span {
  display: block;
  line-height: inherit;
  height: inherit;
}

.member_feed_wrapper .game_user_wrapper span.name {
  display: block;
  flex: 1;
  overflow: hidden;
  padding-left: 8px;
}

.member_feed_wrapper .game_user_wrapper span:nth-child(1) {
  margin-top: -12px;
}

.basic_options {
  flex-direction: column;
}

.static_menu a.logo {
  color: white;
  cursor: default;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: inherit;
  background-color: rgba(127, 127, 127, .5);
}

.tab_buttons .btn {
  font-size: 26px;
}

.open_button_wrapper {
  text-align: right;
}

.game_user_wrapper {
  position: relative;
}

.gameplayer_cell_next {
  background: rgba(0, 255, 0, .25);
}
