.mode_running_view {}

.upper_row, .lower_row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.upper_row {}

.upper_left, .lower_left {}

.score_pos_1, .score_pos_2, .score_pos_3 {
  display: none;
}

.game_owner .card_deck_display {
  display: none;
}

.card_deck_select {
  display: none;
}

.game_owner .card_deck_select {
  display: inline-block;
}

.game_owner .scoring_system_display {
  display: none;
}

.scoring_system_select {
  display: none;
}

.game_owner .scoring_system_select {
  display: inline-block;
}

.match_card_wrapper {
  width: 47%;
  height: 100px;
  background: rgba(100, 100, 100);
  border-radius: 5%;
  margin: .2% 1.5%;
  position: relative;
  border: solid 2px transparent;
  display: inline-block;
}

.previously_shown {
  background: rgba(200, 200, 200);
}

.card_inner {
  display: none;
  height: inherit;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.matched_hidden {
  visibility: hidden;
}

.score_pos_0, .score_pos_1, .score_pos_2, .score_pos_3 {
  flex: 1;
  min-height: 50px;
}

.score_dock_row>div {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
}

.score_dock_row>span {
  font-size: 18px;
  flex: 1;
}

.score_dock_row {
  display: flex;
  flex-direction: row;
}

.zoom_out_beer_card {
  display: none;
  width: 80%;
  height: 80%;
  background: rgb(127, 127, 127);
  z-index: 10;
  position: absolute;
  border: solid 2px silver;
  border-radius: 5px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.show_face .card_inner {
  display: block;
}

.members_display_wrapper {
  padding-top: 15px;
  display: none;
}

.game_loaded .members_display_wrapper {
  display: block;
}

.game_loaded .game_loading_display {
  display: none;
}

.selection_missed {
  border: solid 2px red;
}

.selection_matched {
  border: solid 2px rgb(0, 255, 0);
}

.match_board_wrapper .match_quandrant {
  min-height: 100px;
  flex: 1;
  position: relative;
}

.match_board_wrapper {
  padding-bottom: 8px;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tracer_line_0, .tracer_line_1 {
  position: absolute;
  height: 10px;
  width: 100px;
  z-index: 1000;
  border-radius: 10px;
  background: rgba(127, 127, 127, .5);
  top: 10px;
  left: 20px;
  display: none;
  transform-origin: 0 0;
  pointer-events: none;
  animation-name: tracer_fades;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes tracer_fades {
  0% {
    background-color: rgba(255, 0, 0, .5);
  }

  16.67% {
    background-color: rgba(255, 255, 0, .5);
  }

  33.33% {
    background-color: rgba(0, 255, 0, .5);
  }

  50% {
    background-color: rgba(0, 255, 255, .5);
  }

  66.67% {
    background-color: rgba(0, 0, 255, .5);
  }

  83.33% {
    background-color: rgba(255, 0, 255, .5);
  }

  100% {
    background-color: rgba(255, 0, 0, .5);
  }
}

.player_dock {
  display: flex;
  flex-direction: row
}

.seat0_results, .seat1_results, .seat2_results, .seat3_results {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.seat0_results .dock_container div, .seat1_results .dock_container div,
.seat2_results .dock_container div, .seat3_results .dock_container div {
  border-radius: 10px;
}

.score_total {
  flex: 3;
  line-height: 70px;
  font-size: 22px;
  text-align: left;
  border-radius: 10px;
  margin-left: 5px;
  padding: 0 5px;
  margin-bottom: -4px;
}

.winner {
  border: ridge 5px rgb(0, 255, 0);
  border-radius: 10px;
  background: rgba(0, 255, 0, .5);
}

.score_name {
  max-width: 100px;
  display: inline-block;
  white-space: nowrap;
  font-size: .8em;
}

.score_points {
  text-align: right;
  font-weight: bold;
  float: right;
}

.mode_end .player_dock {
  display: none;
}

.match_end_result .dock_container {
  border: none;
}

.match_end_display_promo {}

.beer_image {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 130px;
}

.beer_description {
  display: flex;
  flex-direction: row;
}

.beer_tags {
  flex: 1;
}

.beer_name {
  font-size: 28px;
  font-weight: bold;
}

.tag_filter_item {
  display: block;
  position: relative;
  text-align: left;
  margin-right: 35px;
}

.beer_name_anchor {
  text-decoration: none;
}

.members_list {
  padding-left: 10px;
  height: 25vh;
  overflow: auto;
}

.second_panel_wrapper {
  display: block;
  text-align: center;
  flex: 1;
}

.second_inner_panel {
  display: block;
  margin: auto;
  max-width: 450px;
}

.first_panel_wrapper {
  flex: 1;
  display: block;
  text-align: right;
}

@media screen and (min-width:900px) {
  .panel_responsive_wrapper {
    display: flex;
    flex-direction: row;
  }
  .first_panel_wrapper {
    min-width: 450px;
  }
  .second_panel_wrapper {
    min-width: 450px;
  }

  .message_list_send_wrapper {
    position: static;
    text-align: center;
    line-height: 35px;
    transform: none;
    border-radius: 10px;
    border: 4px double #cccccc;
  }
}

.matchgame_page .basic_page_wrapper.app_panel {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.match_instructions {
  text-align: left;
  padding: 8px;
}
