.mode_running_view {}

.upper_row, .lower_row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.upper_row {}

.upper_left, .lower_left {}

.score_pos_1, .score_pos_2, .score_pos_3 {
  display: none;
}

.game_owner .card_deck_display {
  display: none;
}

.card_deck_select {
  display: none;
}

.game_owner .card_deck_select {
  display: inline-block;
}

.game_owner .scoring_system_display {
  display: none;
}

.scoring_system_select {
  display: none;
}

.game_owner .scoring_system_select {
  display: inline-block;
}

.match_card_wrapper {
  width: 47%;
  aspect-ratio: 1 / 1.5;
  background: rgba(100, 100, 100);
  border-radius: 5%;
  margin: .5% 1.5%;
  position: relative;
  border: solid 2px transparent;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  float: left;
}

.previously_shown {
  background: rgba(200, 200, 200);
}

.card_inner {
  display: none;
  flex-direction: column;
  height: inherit;
  flex: 1;
}

.zoom_out_beer_card .card_inner {
  display: flex;
}

.card_inner .image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card_inner .image {
  margin: 3px;
  aspect-ratio: 1 / 1;
}

.card_inner .header {
  display: flex;
  flex-direction: row;
}

.card_inner .invert.header img {
  filter: invert(1);
}

.card_inner .invert.header .name {
  color: rgb(255, 255, 255);
}

.card_inner .symbol {
  height: 32px;
  margin: 2px;
}

.card_inner .name {
  flex: 1;
  text-align: left;
  overflow: hidden;
  line-height: 36px;
}

.matched_hidden {
  visibility: hidden;
}

.score_pos_0, .score_pos_1, .score_pos_2, .score_pos_3 {
  flex: 1;
  min-height: 50px;
}

.score_dock_row>div {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
}

.score_dock_row>span {
  font-size: 18px;
  flex: 1;
}

.score_dock_row {
  display: flex;
  flex-direction: row;
}

.zoom_out_beer_card {
  display: none;
  width: 80%;
  height: 80%;
  background: rgb(127, 127, 127);
  z-index: 10;
  position: absolute;
  border: solid 2px silver;
  border-radius: 5px;
  flex-direction: column;
}

.large_board .zoom_out_beer_card {
  height: 55%;
}

.show_face .card_inner {
  display: flex;
  background: rgb(240, 240, 240);
}

.members_display_wrapper {
  padding-top: 15px;
  display: none;
}

.game_loaded .members_display_wrapper {
  display: block;
}

.game_loading_display {
  min-height: 500px;
}

.game_loading_display h1 {
  float: left;
}

.game_loaded .game_loading_display {
  display: none;
}

.selection_missed {
  border: solid 2px red;
}

.selection_matched {
  border: solid 2px rgb(0, 255, 0);
}

.match_board_wrapper .match_quandrant {
  min-height: 100px;
  flex: 1;
  position: relative;
}

.match_board_wrapper {
  padding-bottom: 8px;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tracer_line_0, .tracer_line_1 {
  position: absolute;
  height: 10px;
  width: 100px;
  z-index: 1000;
  border-radius: 10px;
  background: rgba(127, 127, 127, .5);
  top: 10px;
  left: 20px;
  display: none;
  transform-origin: 0 0;
  pointer-events: none;
  animation-name: tracer_fades;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes tracer_fades {
  0% {
    background-color: rgba(255, 0, 0, .5);
  }

  16.67% {
    background-color: rgba(255, 255, 0, .5);
  }

  33.33% {
    background-color: rgba(0, 255, 0, .5);
  }

  50% {
    background-color: rgba(0, 255, 255, .5);
  }

  66.67% {
    background-color: rgba(0, 0, 255, .5);
  }

  83.33% {
    background-color: rgba(255, 0, 255, .5);
  }

  100% {
    background-color: rgba(255, 0, 0, .5);
  }
}

.player_dock {
  display: flex;
  flex-direction: row;
}

.match_end_display_promo {}

.beer_name {
  font-size: 28px;
  font-weight: bold;
}

.tag_filter_item {
  display: block;
  position: relative;
  text-align: left;
  margin-right: 35px;
}

.beer_name_anchor {
  text-decoration: none;
  display: block;
}

.members_list {
  padding-left: 10px;
}

.second_panel_wrapper {
  display: block;
  text-align: center;
  flex: 1;
}

.second_inner_panel {
  display: block;
  margin: auto;
  max-width: 450px;
}

.first_panel_wrapper {
  flex: 1;
  display: block;
  text-align: right;
  margin-bottom: 8px;
}

@media screen and (min-width:900px) {
  .panel_responsive_wrapper {
    display: flex;
    flex-direction: row;
  }

  .first_panel_wrapper {
    min-width: 450px;
  }

  .second_panel_wrapper {
    min-width: 450px;
  }
}

.matchgame_page .basic_page_wrapper.app_panel {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.match_instructions {
  text-align: center;
  padding: 8px;
}

.game_selection_matched .currentplayer_score_dock {
  background: rgb(0, 255, 0);
}

.game_selection_missed .currentplayer_score_dock {
  background: rgb(255, 0, 0);
}

#renderCanvas {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  touch-action: none;
}
