html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup-canvas {
  touch-action: none;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.avatars_loaded .popup-canvas {
  visibility: visible;
}

.babylonVRicon {
  display: none;
}

.avatars_loaded .babylonVRicon {
  display: inline-block;
}

.loading_banner {
  position: absolute;
  padding: 10px;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgb(230, 240, 230);
  color: black;
  max-height: 90%;
  overflow: auto;
  line-height: 2.5em;
  padding-bottom: 1.5em;
}

.avatars_loaded .loading_banner {
  display: none;
}

.hide_loading_screen {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 10px;
  left: 15px;
}

.avatars_loaded.show_loading_banner .hide_loading_screen {
  display: inline-block;
}

.show_loading_banner .loading_banner {
  display: block;
}

.menu_bar_toggle {
  text-align: center;
}

.menu_bar_toggle span {
  font-size: 30px;
  transform: rotate(90deg);
  display: inline-block;
  transition: transform .5s;
}

.menu_bar_expanded .menu_bar_toggle span {
  transform: rotate(0deg);
}

.menu_bar_expanded_options {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
}

.menu_bar_expanded .menu_bar_expanded_options {
  max-height: 250px;
}

.members_list {
  padding-left: 10px;
  max-height: 50vh;
  overflow: auto;
}

.static_menu a {
  padding: 0;
  padding-top: 8px;
}

.symbol_image {
  height: 32px;
}

.selected_link_bold {
  font-style: italic;
}
